/*Footer*/
footer{
    font-size:12px;
}

/*Header*/
header {
    font-size: initial;
    text-align: center;
    color: #E9CC8D;
}

/*Body*/
body {
    font-weight: 100;
    font-size: 200%;
    background: #141a2b;
    background: linear-gradient(180deg, rgba(20, 26, 43, 1) 20%, rgba(8, 5, 41, 1) 90%);
}

.skin {
    color: #C09FB2;
}

.edge {
    color: #E9CC8D;
}

h1 {
    color: #F5EAE6;
    text-align: center;
}


/*Members*/
.gallary {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.gallary div img {
    border-radius: 15px 0px 15px 0px;
    width:288px;
    height:auto;
}

.gallary div p {
    color: #E9CC8D;
    text-align:center;
    margin-top:10px; 
}


/*Live*/
.live{
    display:flex;
    justify-content:space-evenly;
}
