footer{
    font-size:12px;
}

header {
    font-weight: 100;
    background-color: #E20068;
    font-size: initial;
    text-align: center;
}

header i {
    font-size: 80px;
    color: #E9CC8D;
}

div + p{
    text-align:center;
}

body {
    font-weight: 100;
    font-size: 200%;
    background-image: url(resource/Background.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.skin {
    color: #C09FB2;
}

.edge {
    color: #E9CC8D;
}

.live{
    display:flex;
    align-content:center;
    justify-content:space-between;
}

.live p{
    margin:0;
}

h1{
    text-align:center;
}

.gallary {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.gallary div img {
    border-radius: 15px 0px 15px 0px;
}

.item{
    display:inline;
    
}
